torch
psutil
huggingface_hub
transformers
pyvips
pynvml
pillow
moondream
sentencepiece
protobuf
wheel
qwen-vl-utils
torchvision
accelerate
pandas
matplotlib
seaborn

# Missing dependencies
exceptiongroup; python_version < "3.11"
tabulate
termcolor>=1.1
decorator<6.0,>=4.0.2
python-dotenv>=0.10

#added dependency
flash-attn
einops #for molmo
tensorflow #for molmo