gluonts[torch]
numpy
torch>=2.0.0
wandb
scipy
pandas
huggingface_hub[cli]
einshape
fire
nixtla
python-dotenv==1.0.0 #timesfm error flax
rich
statsforecast
neuralforecast
utilsforecast
mlforecast
lightgbm
chronos-forecasting @ git+https://github.com/amazon-science/chronos-forecasting.git
uni2ts @ git+https://github.com/SalesforceAIResearch/uni2ts.git
timesfm @ git+https://github.com/AzulGarza/timesfm.git@fix-structure
jax[cuda12]
flax==0.8.2 #timesfm error flax
protobuf==3.19.6 #timesfm error flax
pytest
prophet
pynvml #
seaborn